main {
    background: $primary-color;
    padding: $padding;
    display: grid;
    grid-template-columns: 50% 50%;
}

h1 {
    margin-bottom: 30px;
}

.text-part {}

.circles {
    text-align: right;
}